  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      line-height: 1.5;
      color: #222;
      background: #f9f9f9;
  }

  main {
      padding: 20px;
  }

  main,
  header,
  footer {
      max-width: 400px;
      margin: 0 auto;
  }

  header {
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 0.7rem;
      align-items: center;
      justify-content: space-between;
      padding: 0.75rem 1.5rem;
      background: #fff;
      border-bottom: 2px solid #ffffff;
      width: 400px;
      z-index: 9999;
  }

  header img.botao_inicio {
      width: 36px;
      height: 36px;

  }

  header a {
      color: #000000;
      text-decoration: none;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-size: 1.4rem;
      flex-shrink: 0;
  }

  header a:hover {
      text-decoration: underline;
  }

  header select {
      background-color: inherit;
      text-align: center;
      font-size: 1rem;
      padding: .4rem .6rem;
      border-radius: 6px;
      border: 2px solid #000;
      width: 200px;
  }

  #cidadaniacivismo {
      background: linear-gradient(#D79D67, rgb(197, 197, 197, 0.01));

  }

  #cyberseguranca {
      background: linear-gradient(#2341E1, #85bac2);
  }

  #educacaoalimentar {
      background: linear-gradient(#cc592b, #c5ff3e);

  }

  #educacaotransito {
      background: linear-gradient(#FF5757, #ffe850);

  }

  #educacao {
      background: linear-gradient(#FF6ABF, #10C0DC);

  }

  #etica_cidadania {
      background: linear-gradient(#B77DAF, #33948A);

  }

  #inicio {
      background: linear-gradient(#313131, #ffffff);
  }

  #meioambiente1 {
      background: linear-gradient(#317a48, #22d45b);
  }

  #meioambiente2 {
      background: linear-gradient(#716EF3, #E767CB);
  }

  #pluralidadecultural {
      background: linear-gradient(#004AAD, #5387CC);
  }

  #saude_tempoesperasus {
      background: linear-gradient(#004AAD, rgb(217, 217, 217));
  }

  .tema h1 {
      font-size: 2.8rem;
  }

  .cartaz {
      display: flex;
      justify-content: center;
      padding: 2rem;
  }

  .cartaz img {
      width: 100%;
      height: auto;
      border-radius: 20px;
      border: 3px solid #5d5f61;
  }

  details {
      background: #f8fafa;
      border: 2px solid #5d5f61;
      border-radius: 10px;
      padding: 1rem;
  }

  summary {
      font-weight: 600;
      font-size: 1.5rem;
      list-style: none;
      outline: none;
  }

  details[open] {
      background: #eef5f8;
  }

  details p {
      margin-top: .75rem;
      line-height: 1.5;
      font-size: 1.125rem;
      color: #333;
  }

  footer {
      text-align: center;
      font-size: 0.9rem;
      padding: 1rem 0;
      color: #838383;
      background-color: #f1f1f1;
      border-top: 1px solid #ddd;
      margin-top: 2rem;
  }

  .argumento h1 {
      font-size: 2rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
  }

  .argumento {
      line-height: 1.5;
      font-size: 1.125rem;
  }

.imagens_index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; 
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: stretch;
    
}

.imagens_index a {
    display: block;
    width: 100%;
}

.imagens_index img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem; 
    border: 2px solid black;
    
}
.imagens_index img:active{
    transform: scale(1.2);
}


  .animação {
      animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @keyframes rotate-in-2-cw {
      0% {
          transform: rotate(-45deg);
          opacity: 0;
      }

      100% {
          transform: rotate(0);
          opacity: 1;
      }
  }
